extends includes/layout.pug
block content
  div(class="article")
    -let background = (page.background) ? page.background : theme.thumbnail.default;
    -let thumbnail_modifier = (page.background) ? '--thumbnail' : '';
    div(class="article__header", style={background: background})
      div(class="article-container")
        div(class="article__header--title" + thumbnail_modifier)
          h1= page.title
          div(class="article__header--date")
            !=date(page.date, date_format)

        if page.tags.length > 0 
          div(class="article__header--tags" + thumbnail_modifier)
            !=list_tags(page.tags, {show_count: false, class: 'tags', style: 'list', separator: ''})

        
        div(class="article__header--description")
          p=page.description

        div(class="article__header--links")
          if page.github
            a(class="header-link", href=page.github)
              div(class="header-link__label")
                i(class="fa fa-github fa-lg header-link__icon")&attributes({'aria-hidden': 'true'})
                !='More on Git '
              div(class="header-link__description")="Code & Documentation"
          if page.heroku
            a(class="header-link", href=page.heroku)
              div(class="header-link__label")
                i(class="fa fa-cloud fa-lg header-link__icon")&attributes({'aria-hidden': 'true'})
                !='More on Heroku '
              div(class="header-link__description")="Live demo of the project"
    div(class="article__content")
      div(class="article-container")
        !=page.content
                


  

    
