#header(class="header", tabindex="1")
  //- div(class="header__info")
  //-   img(src=theme.img.avatar, alt='avatar', class="avatar")
  div(class="header__about")
    if (Array.isArray(theme.header.slogan))
      - let array = theme.header.slogan
      - first_sentence = theme.header.slogan[0]
      - array = array.slice(1)
      div(class="header__about--greeting")
        !=first_sentence
      p(class="header__about--text")
        !=array.join('<br>')
    else
      h4
        !=theme.header.slogan
  
  ul(class="header__nav")
    each values, label in theme.menu
      li
        a(href=values.url data-pjax class="nav-item")
          i(class="fa fa-lg nav-item__icon " + values.icon)&attributes({'aria-hidden': 'true'})
          div
            div(class="nav-item__label")!=label 
              //div(class='nav-item__info')!=values.info
  
  ul(class="header__sns")
    each values, label in theme.sns
      if values.url
        li
          a(href=values.url, class="nav-item")
            i(class="fa fa-lg nav-item__icon " + values.icon)&attributes({'aria-hidden': 'true'})
            div
              div(class="nav-item__label")!=label 
              div(class='nav-item__info')!=values.info

  ul(class="header__close")
    li
      a#close(class="nav-item--close")
        i(class="fa fa-lg nav-item__icon ")&attributes({'aria-hidden': 'true'})
        div
          div(class="nav-item__label")!="Close sidebar"
 
           
