if page.posts.length > 0
    each post in page.posts.sort('date', -1).limit(10).toArray()
      div(class="card card-gradient")
        if post.thumbnail
          -let background = (post.background) ? post.background : theme.thumbnail.default;  
          div(class="post_thumbnail", style={background: background})
            img(src=post.thumbnail)
              
        -let has_thumbnail = (post.thumbnail) ? 'thumbnail' : ''; 
        div(class="post_title " + has_thumbnail)
          div
            h1
              a(href=config.root + post.path)= post.title
            h4=date(post.date, date_format)
              
        div(class="post_content")
          p
            !=post.excerpt
                    
        div(class="post_footer")
          a(class="button" data-pjax href=config.root + post.path)= 'Read more'
          if post.github
              a(class="button alt" href=post.github)
                i(class="fa fa-github fa-lg")&attributes({'aria-hidden': 'true'})
          if post.heroku
              a(class="button alt" href=post.heroku)
                i(class="fa fa-cloud fa-lg")&attributes({'aria-hidden': 'true'})
        
        
