div(class="posts")
  if page.posts.length > 0
      each post in page.posts.sort('date', -1).limit(10).toArray()
        -let background = (post.background) ? post.background : theme.thumbnail.default;
        -let thumbnail_modifier = ''
        div(class="card post fade-in", style={background: background})
          div(class="post--container")
            if post.thumbnail
              img(class="post__thumbnail", src=post.thumbnail width="100%" height="100%")
              -thumbnail_modifier = '--thumbnail'
            div(class="post__header" + thumbnail_modifier)
              div(class="post__header--title")
                h1
                  a(href=config.root + post.path)= post.title
                div(class="post__header--date")
                  !=date(post.date, date_format)

              if post.tags.length > 0 
                div(class="post__header--tags" + thumbnail_modifier)
                  !=list_tags(post.tags, {show_count: false, class: 'tags', style: 'list', separator: ''})

            div(class='post__excerpt' + thumbnail_modifier)
              !=post.excerpt
                          
            div(class="post__footer" + thumbnail_modifier)
              a(class="button" + thumbnail_modifier, data-pjax href=config.root + post.path)= 'Read more'
              if post.github
                  a(class="button--alt" + thumbnail_modifier, href=post.github)
                    i(class="fa fa-github fa-lg")&attributes({'aria-hidden': 'true'})
              if post.heroku
                  a(class="button--alt" + thumbnail_modifier, href=post.heroku)
                    i(class="fa fa-cloud fa-lg")&attributes({'aria-hidden': 'true'})
          
        
